<h1>List of Articles:</h1>

<ul>
  <% @articles.each do |article| %>
    <li> <%= article.title %> </li>
    <li> <%= article.content %> </li>
    <hr>
  <% end %>
</ul>

<a href="/articles/new">Create New Article</a>
