<h1>New Article:</h1>

<form action="/articles" method="post">
  <div>
    <label for="">Title: </label>
    <input type="text" name="article[title]" id = "title">
  </div>
  <div>
    <label for="">Content: </label>
    <input type="textarea" name="article[content]" id = "content">
  </div>
  <input type="submit" value="Submit">
</form>
